@model Todo
<form asp-action="Delete" asp-controller="ToDo" method="post">
    <div class="mb-3">
        <label for="Title" class="form-label">Title</label>
        <input asp-for="Title" type="text" class="form-control" id="Title" aria-describedby="Title">
    </div>
    <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <textarea asp-for="Description" class="form-control" id="Description"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Delete</button>
</form>